# IGDB API Configuration
IGDB_CLIENT_ID=your_client_id_here
IGDB_ACCESS_TOKEN=your_access_token_here

# Football Data API
FOOTBALL_API_TOKEN=20f15d7be30549db828caf69ed6a8258

# Server Configuration
PORT=3000
NODE_ENV=development