.Rectangulo1 {
    border: solid  black 1px;
    background-color: white;
    height:50px ;
    width:200px ;
}

h1 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Nokoro", sans-serif;
    font-size: 40px;
    color: black;
}

.letra-diferente {
    color: lime;
    font-size: 40px;
}