h1 {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: "Nokora", sans-serif;
    font-size: 40px;
    color: black;
}
.modal{
    width: 45rem;
    height: 30rem;
    background-color: lightgray;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-75%, -50%);
    border-radius: 0.25rem;
}
.modal button{
    border-radius: 0.5rem ;
    border: solid darkgray 1px;
    padding: 3rem;
}
.modal h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}
.letra-diferente {
    color: lime;
    font-size: 40px;
}

.icon {
    font-size: 40px;
    margin-right: 10px;
}

input, button {
    height: 40px;
    border-radius: 5px;
    font-size: 16px;
    padding: 0 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input {
    width: 300px;
}

button {
    width: 150px;
    background-color: #f0f0f0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

button:hover {
    background-color: #e0e0e0;
}

.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cuadradoblanco {
    border: solid black;
    background-color: white;
    height: 300px;
    width: 300px;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

h2 {
    margin-top: 20px;
    font-family: "Nokora", sans-serif;
    font-size: 20px;
    color: #333;
}

.guess-container {
    width: 100%;
    max-width: 450px;
    margin-top: 10px;
}

.guess-row {
    background-color: #f7f7f7;
    border: 1px dashed #ccc;
    height: 40px;
    margin-bottom: 5px;
    border-radius: 5px;
}
