body {
    background-color: limegreen;
    font-family: "Nokoro", sans-serif;
}

.title {
    position: relative;
    top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.cuadradogris {
    background-color: lightgray;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    margin: 20px auto;
    text-align: center;
}

.h2 {
    margin-bottom: 20px;
    font-size: 18px;
}

.Cuadrados {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    gap: .5rem;
}

.cuadradodecolor {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 1px solid black;
}

.rojo { background-color: red; }
.amarillo { background-color: yellow; }
.verde { background-color: green; }

.flechas {
    margin-bottom: 20px;
}

.input-section {
    display: flex;
    justify-content: center;
    gap: 10px;
}

input[type="text"] {
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: limegreen;
    cursor: pointer;

}



.squares-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.item {
    text-align: center;
}

.categoria {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-align: center;
}

.Cuadrado1, .Cuadrado2, .Cuadrado3, .Cuadrado4, .Cuadrado5, .Cuadrado6 {
    width: 180px;
    height: 120px;
    background-color: white;
    border: 2px solid black;
}



h3, h4, h5, h6 {
    font-size: 20px;
    font-weight: bolder;
    margin: 10px 0;
}


